.chat-container{
    /* background-color: rgb(53, 52, 52); */
    /* background-image: url('https://res.cloudinary.com/dzhfutnjh/image/upload/v1694842492/white-speech-bubble-chat-message-communication-icon-sign-symbol-background-3d-illustration_56104-2055_ulkdgv.avif'); */
    background-size: cover;
    width: 100%;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin-top: 20px; */
    border: none;
    /* border-radius: 20px; */
    /* height: 80vh; */
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);  */

}

.message-input{
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #eee8e8;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    width: 90%;
    margin-bottom: 5px;

}
.message-input:hover{
    /* transform: scale(1.1); */
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}
.messages-container{
    height: 75vh;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); */


}

.sendButton{
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: all 0.6s ease; 
    height: 45px;
    width: 90px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.you{ 
     color: white;
     display: flex;
     justify-content: flex-end;
     padding: 10px;
     /* background-color: #007bff; */
     /* flex-direction: column; */
 } 

 .other{
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    /* background-color: #333; */
    /* flex-direction: column; */
    /* width: 100px; */
 }
.you-message-content{
    background-color: #007bff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: end;



}
.other-message-content{
    background-color: #f7f7f8;
    border-radius: 10px;
    color: #333;
}
.message{
    font-weight: 500;
    font-size: 17px;
}
.time{
    font-size: 12px;
    color: rgb(26, 21, 21);
}
.typing-animation{
    width: 50px;
}
.previous-chats{
    width: 25%;
    background-color: #f7f7f8;
    /* border-right: 1px solid black; */
}
.chat-heading{
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;

}
.chats{
    font-weight: 600;
    color: white;

}

.each-chat{
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;

}
.each-chat h5{
    font-size: x-large;
}

.each-chat:hover{
    background-color: #007bff;
    cursor: pointer;
    color: white;
}
.profile_in_chat{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px;
    margin-right: 15px;
}
.search-box{
    padding: 9px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: #c7c4c4; */
    color: #333;
    transition: border-color 0.3s ease-in-out;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 15px;
}

  input.message-input::placeholder {
    color: rgb(32, 32, 32); /* Change this to your desired color */
  }
  .username{
    color: #007bff;
    font-weight: 600;
    font-family: cursive;
  }
  .profile{
    /* width: 15px;
    height: 15px; */
    background-color: #333;
  }
  .current-chat-profile{
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50px;
  }
  .inside-chat-profile{
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }
  .to-whom{
    width: 100%;
  }
  .to-whom-profile-name{
    width: 18%;
  }
  .to-whom-profile-name h3{
    /* font-weight: 500; */
    color: #575555;
    font-family: cursive;
  }
  .call-icon{
    width: 10%;
  }