 /* body{
    color: #054652;
    margin: 0;
 }
 @media (min-width: 601px) and (max-width: 1050px){
  .overlay-form { */
      /* width: 50%; */
  /* }
}
.overlay-form {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    padding: 3%;
    background-color: rgba(243, 238, 167, 0.466);
    border-radius: 10px;
    text-align: center;
  }
  .hostImg{
     height: 70%; 
   } 
   .inputBox{
    transition: all 0.6s ease; 
   }
   .inputBox:hover{
    transform: scale(1.05);

   }
   .suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1; */
    /* width: 100%; */
    /* background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .suggestions li {
    padding: 10px;
    border-bottom: 1px solid #ccc; */
    /* border-radius: 20px; */
    /* cursor: pointer;
  } */
  
.hostRide-banner-container{
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 55px ;
  border-bottom-left-radius: 55px ;
}
.hostRide-banner-image{
  width: 70%;
}
.hostRide-bannerText-container{
  color: white;
  font-weight: 800;
}

.host-input-boxes{
  border-radius: 50px;
  height: 45px;
  border-color: rgb(167, 165, 165);
  /* border: none; */
  margin: 10px;
  transition: all 0.6s ease;  
}
 .host-input-boxes:hover{
  transform: scale(1.05);

 }
.host-input-boxes::placeholder {
  padding: 10px;
}
.host-heading{
  /* background-color: skyblue; */
  /* color: white; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.host-input-box-container{
  /* background-color: skyblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-selector{
  width: 120px;
  height: 40px;
}
.host-button{
  background-color: rgb(95, 94, 94);
  margin: 1%;
}

.radio-button-group {
  display: flex;
}

.radio-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius:100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.radio-button.selected {
  background-color: #007bff;
  color: #fff;
}
.seats-text{
  color: rgb(29, 28, 28);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1; 
   /* width: 100%;  */
   background-color: #ffffff;
  border-radius: 20px;
}
.suggestions li {
  padding: 10px;
   border-radius: 20px; 
   cursor: pointer;
} 





@media(max-width:600px){
  .hostRide-bannerText-container{
    display: none;
    /* padding-left: 5%; */
  }
  .host-input-boxes{
    margin-right: 20px;
    margin-left: 20px;
  }
}

  