.tablist{
    text-decoration: none;
}
.tablist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc; /* Add your desired border style */
  margin-bottom: 20px; /* Adjust as needed */
}

.tablist {
  background-color: transparent; /* Set the background color */
}

.tablist .MuiTabs-indicator {
  background-color: #007bff; /* Set the indicator color */
}

.tablist .MuiTab-label {
  color: #007bff; /* Set the tab label color */
}

.tablist .Mui-selected {
  color: #007bff; /* Set the selected tab color */
  font-weight: bold; /* Make the selected tab bold if desired */
}
.hosted-rides{
  /* background-color: #007bff; */
  /* background-color: #e2dfdf; */
    /* color: #333; */
    transition: border-color 0.3s ease-in-out;
    transition: all 0.9s ease; 
    border-radius: 15px;
}
.hosted-rides:hover{
  transform: scale(1.02);
  border-color: #007bff;
  /* box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);   */
}
.line{
  width: 60%;
  border: 1px;
  border-top: 2px solid #585858;
  margin: 0 auto;
  
}
.no-rides{
  color: #585858;
  font-weight: 500;
}
.experience{
  color: #585858;
}
.completedRide{
  background-color: rgba(79, 236, 126, 0.575);
}
.notCompleted{
  background-color: rgb(243, 213, 156);
}
/* myrides.css */

/* For Webkit browsers (Chrome, Safari) */
.container-div::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

.container-div::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#002f4b, #4286f4); /* Set the gradient background for the scrollbar thumb */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}
.cardHeader{
  display: flex;
  justify-content: end;
  border: none;
  color: rgb(99, 201, 99);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

  .container-div{
  width: 83%; 
  /* height: 100vh;  */
  /* overflow: auto; */
 } 
 .modal_header{
  background-color: white;
  color: #002f4b;
 }

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
   .container-div{
    width: 100%; 
   } 
}


