.tablist{
    text-decoration: none;
}
.tablist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ccc; /* Add your desired border style */
  margin-bottom: 20px; /* Adjust as needed */
}

.tablist {
  background-color: transparent; /* Set the background color */
}

.tablist .MuiTabs-indicator {
  background-color: #007bff; /* Set the indicator color */
}

.tablist .MuiTab-label {
  color: #007bff; /* Set the tab label color */
}

.tablist .Mui-selected {
  color: #007bff; /* Set the selected tab color */
  font-weight: bold; /* Make the selected tab bold if desired */
}
.hosted-rides{
  /* background-color: #007bff; */
  /* background-color: #e2dfdf; */
    /* color: #333; */
    transition: border-color 0.3s ease-in-out;
    transition: all 0.6s ease; 
    border-radius: 15px;
}
.hosted-rides:hover{
  transform: scale(1.02);
  border-color: #007bff;
  /* box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);   */
}
.line{
  width: 60%;
  border: 1px;
  border-top: 2px solid #585858;
  margin: 0 auto;
  
}
.no-rides{
  color: #585858;
  font-weight: 500;
}
.experience{
  color: #585858;
}
.completedRide{
  background-color: rgba(79, 236, 126, 0.575);
}
.notCompleted{
  background-color: rgb(243, 213, 156);
}
