.review-image{
    background-color: black;
    height: 60px;
    width: 60px;
    /* border-radius: 50px; */
}
.reviewer-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(70, 70, 241);
}
.rating-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    font-weight: 500;

}