.verticleLine{
    border-width: 3px;
    height: 90px;
    width: 5px;
    background-color: rgb(10, 10, 49);
    margin-left: 7px;
    padding: 0;
}
.circleInRidDetails{
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    /* background-color: rgb(109, 108, 108); */
    border-radius: 20px;
    border: 2px solid rgb(10, 10, 49);
}
.rideDetails,.chatWith{
    transition: all 0.6s ease; 
    width: 60%;

}
.hosterSection{
    transition: all 0.9s ease; 
    width: 60%;
}
.rideDetails:hover{
    background-color:rgb(241, 239, 239);
    width: 60%;
    border-radius: 20px;
    transform: scale(1.05);

}
 .fromLocation,.toLocation{
    color: rgb(255, 68, 0);
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.5), transparent); 
}
.carName{
    width: 60%;
}
.chatWith:hover{
    background-color:rgb(241, 239, 239);
     border-radius: 20px;
    transform: scale(1.05);
}
.bookButton{
    background-color: rgb(42, 90, 224);
    color: white;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: all 0.6s ease; 

}
.bookButton:hover{
    background-color: rgb(0, 68, 255) ;
    transform: scale(1.09);

}
.price{
    color: rgb(81, 134, 233);
}
.imageSection{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50px;
}

.hosterSection:hover{
    background-color:rgb(241, 239, 239);
    width: 75%;
    border-radius: 30px;
    transform: scale(1.05);
}
.vehicleANDpassengerDetails{
    color: rgb(0, 89, 255);
}
/* Add this CSS to your rideDetails.css file or style it as needed */

/* Counter styles */
.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .counter-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 40px;
    height: 33px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .counter-button:hover {
    background-color: #0056b3;
  }
  
  .counter-value {
    font-size: 24px;
  }
  
  /* Modal styles */
  .modal-content {
    background-color: #fffdfd;
  }
  
  .modal-header {
    background-color: rgb(0, 89, 255);
    color: #918d8d;
    border-bottom: none;
  }
  
  .modal-body {
    text-align: center;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  /* Button styles */
  .bookButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .bookButton:hover {
    background-color: #0056b3;
  }
  
  /* Close button styles */
  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
  

@media(max-width:600px){
    .rideDetails,.hosterSection:hover{
        background-color:rgb(226, 225, 225);
        width: 90%;
        border-radius: 20px;
        transform: scale(1.05);
    
    }
}