.chat-container{
    /* background-color: rgb(53, 52, 52); */
    /* background-image: url('https://res.cloudinary.com/dzhfutnjh/image/upload/v1694842492/white-speech-bubble-chat-message-communication-icon-sign-symbol-background-3d-illustration_56104-2055_ulkdgv.avif'); */
    background-size: cover;
    width: 100%;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin-top: 20px; */
    border: none;
    /* border-radius: 20px; */
    /* height: 80vh; */
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);  */

}

.message-input{
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e2dfdf;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    width: 90%;
    margin-bottom: 5px;

}
.message-input:hover{
    /* transform: scale(1.1); */
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
}
.messages-container{
    height: 75vh;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7); */


}

.sendButton{
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: all 0.6s ease; 
    height: 45px;
    width: 90px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.you{ 
     color: white;
     display: flex;
     justify-content: flex-end;
     padding: 10px;
     /* background-color: #007bff; */
     /* flex-direction: column; */
 } 

 .other{
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    /* background-color: #333; */
    /* flex-direction: column; */
    /* width: 100px; */
 }
.you-message-content{
    background-color: #007bff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: end;



    /* padding: 9px; */
}
.other-message-content{
    background-color: #333;
    border-radius: 10px;
    /* padding: 9px; */
}
.message{
    font-weight: 700;
    font-size: 17px;
}
.time{
    font-size: 12px;
    color: rgb(26, 21, 21);
}
.typing-animation{
    width: 50px;
}
.previous-chats{
    width: 25%;
    background-color: #3a3939;
    /* border-right: 1px solid black; */
}
.chat-heading{
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 10px;
    /* background-color: yellowgreen; */
    /* align-items: center; */
}
.chats{
    font-weight: 600;
    color: white;

}
.whole-chat-container{
    /* background-color: rgb(10, 10, 10); */
}
.each-chat{
    color: white;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    background-color: rgb(36, 35, 35); */
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); Add an inner shadow */

    /* justify-content: space-around; */

}
.each-chat h5{
    font-size: x-large;
}

.each-chat:hover{
    background-color: #007bff;
    cursor: pointer;
}
.profile_in_chat{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 5px;
    /* background-color: #ccc; */
    margin-right: 15px;
}
.search-box{
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    font-family: Arial, Helvetica, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c7c4c4;
    color: #333;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    margin-bottom: 5px;
}
.message-input::placeholder {
    color: white
  }
  input.message-input::placeholder {
    color: white; /* Change this to your desired color */
  }