 body{
    color: #054652;
    margin: 0;
 }
 @media (min-width: 601px) and (max-width: 1050px){
  .overlay-form {
      /* width: 50%; */
  }
}
.overlay-form {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    padding: 3%;
    background-color: rgba(243, 238, 167, 0.466);
    border-radius: 10px;
    text-align: center;
  }
  .hostImg{
     height: 70%; 
   } 
   .inputBox{
    transition: all 0.6s ease; 
   }
   .inputBox:hover{
    transform: scale(1.05);

   }
   .suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1;
    /* width: 100%; */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  .suggestions li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    /* border-radius: 20px; */
    cursor: pointer;
  }

  