@media(max-width:600px){
    h2{
        font-size: 23px;
      }
    h4,h5{
        font-size: 15px;
    }
    .howToLogin{
        min-width:250px;
        margin-left: 0%;
    }
}
.dontHaveAccount:hover{
    background-color: gray;

}
.loginWith:hover{
    background-color: gray;
}
.howToLogin{
    width: 50%;
    height: 10rem;
    margin-left: 25%;
    background-color: aqua;
}
.signIn{
    color: skyblue;
}
.horizontal-line {
    width: 75%;
    border: 1px;
    border-top: 4px solid #585858;
    margin: 0 auto;
  }