.navdrop{
    /* color: white; */
  }
 .h-six-tags{
  /* color: #055383; */
 }
 .coRide-text{
    color : #055383;
 }
 .nav{
    border-bottom: 1px solid #ccc;
 }
 .searchIcon{
   width: 30%;
 }
 .userProfile{
   width: 45px;
   height: 45px;
   border-radius: 50px;
   /* background-color: #055383; */
 }
.custom-dropdown .dropdown-toggle::after {
   content: none;
 }
 