.user-profile-image{
    width: 8rem;
    height: 8rem;
    background-image: url('https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745');
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
.profile-and-rating{
    width: 70%;
}
.add-profile-section,.rating-and-changePassword{
    margin-left: 10%;
}

.line{
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px; */
    border-top: 3px solid #585858;
}

@media(max-width:600px){
    .user-profile-image{
        /* width: 8rem; */
        /* height: 8rem; */
    }
    .add-profile-section{
        margin: 0;
    }
}